<!DOCTYPE html>
<html lang="en" data-time="<%- timestamp %>">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">

  <!-- 給 google 看的 -->
  <meta name="author" content="Webduino" />
  <meta name="description"
    content="讓 AI 伴學小書僮幫你整理教材、改寫和出題，省下更多時間來創新教學！ AI 伴學小書僮內建強大的語言模型，只要匯入教材，就能建立問答互動知識庫，利用 AI 備課減輕你的備課負擔。還能擔任 AI 學伴協助回答學生問題！" />
  <meta name="keywords" content="webduino, ai, 伴學小書僮" />

  <!-- 給fb看的 Open Graph -->
  <meta property="og:url" content="https://tutor.webduino.io/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Webduino AI 伴學小書僮" />
  <meta property="og:description"
    content="讓 AI 伴學小書僮幫你整理教材、改寫和出題，省下更多時間來創新教學！ AI 伴學小書僮內建強大的語言模型，只要匯入教材，就能建立問答互動知識庫，利用 AI 備課減輕你的備課負擔。還能擔任 AI 學伴協助回答學生問題！" />
  <meta property="og:image" content="https://photo.webduino.io/website/aitutor_img.png" />
  <meta property="og:site_name" content="Webduino AI 伴學小書僮" />
  <meta property="og:locale" content="zh_TW" />
  <meta property="fb:app_id" content="458106948694234" />

  <title><%- title %></title>
  <link rel="icon" href="/<%- favicon %>">
  <link rel="stylesheet" type="text/css" href="https://mozilla.github.io/pdf.js/web/viewer.css" />
  <!-- TODO: 之後換成 mqtt.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js"></script>
  <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>

  <!-- 添加 Google Fonts Poppins -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WCKX983');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.ts"></script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCKX983" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

</html>