body {
    margin: 0;
    position: fixed;
    width: 100%;
}

#app-content {
    height: calc(100vh - 40px)
}

#left-frame {
    float: left;
    width: 40%;
    margin: 0;
    height: calc(100vh - 40px)
}

#right-frame {
    float: left;
    height: calc(100vh - 40px);
    margin: -1px 0 0 0;
}

#right-01 {
    float: left;
    display: flex;
    justify-content: center; /* 將子元素水平置中 */
    align-items: center; /* 將子元素垂直置中 */    
    overflow: auto; /* 添加捲軸，只在內容超過容器大小時顯示 */
}

#right-02 {
    float: left;
    margin: 0 0 0 0;
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 20px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.draggable {
    position: relative;
    width: 100%;
    height: 100%;
}

.title {
    margin: 3px;
    position: absolute;
    top: 0;
    left: 0;
    border-style: outset;
    border: 4px solid rgb(135, 125, 125);
    cursor: move;
    display: none;
    z-index: 200;
    opacity: 0.5;
}